@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Lobster&family=Montserrat:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500&display=swap");

/* Variables */
:root {
  --font-family: "Arimo", sans-serif;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;

  --bg-color: #e7dd9c;
  --primary-color: #625b52;
  --secondary-color: #d7e4f8;
  --light-color: #fff;
  --accent-color: #d28249;
}
html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--accent-color);
}

a:hover {
  color: var(--primary-color);
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
}
/* nav section */
nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 4rem;
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.logo {
  font-family: Lobster;
  font-size: 2rem;
  letter-spacing: 3%;
  font-weight: 400;
  color: var(--accent-color);
}

.navigation {
  position: absolute;
  right: 2.5%;
  top: 4rem;
  display: none;
}
.show {
  display: block;
}
.navigation a {
  transition: var(--transition);
}
.navigation a:hover {
  border-bottom: 2px solid #ff7235;
}

nav ul li {
  font-weight: 700;
  padding-bottom: 0.5rem;
}
.burger-menu {
  position: relative;
  color: var(--accent-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
/* socials */
.socials {
  display: flex;
  gap: 1rem;
}
.socicon {
  width: 2rem;
  height: 2rem;
}
.socicon:hover {
  animation: shake alternate 1.5s;
}
/* hero */
.hero {
  padding-top: 2rem;
}
.welcome-text {
  text-align: center;
  font-family: lobster, sans-serif;
  font-size: 2rem;
  letter-spacing: 2%;
  font-weight: 400;
  color: #625b52;
  margin-top: 4rem;
}
.bg {
  background-image: url(../images/bg-welcome.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  max-width: 100%;
  min-height: 480px;
}

.bg-image {
  width: 100%;
  height: auto;
  position: absolute;
}
.yurta-images {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 16rem;
}
.yurta-images img {
  padding-bottom: 1.5rem;
  position: relative;
}
.yurtaM {
  margin-left: 10rem;
}
/* yurta smoke */
.yurta-smoke span {
  animation: smoke 3s linear infinite;
}
@keyframes smoke {
  0% {
    transform: translate(0, 0) scale(0.8);
    opacity: 0.6;
    filter: blur(7px);
  }
  50% {
    transform: translate(-25px, -30px) scale(2);
    opacity: 0.7;
    filter: blur(9px);
  }
  100% {
    transform: translate(-70px, -70px) scale(3);
    opacity: 0;
    filter: blur(10px);
  }
}
.smoke span {
  animation: smoke2 5s linear infinite;
}
@keyframes smoke2 {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 0.6;
    filter: blur(7px);
  }
  50% {
    transform: translate(-20px, -30px) scale(2);
    opacity: 0.7;
    filter: blur(9px);
  }
  100% {
    transform: translate(-70px, -70px) scale(3);
    opacity: 0;
    filter: blur(10px);
  }
}
.smoke span:nth-child(1) {
  position: absolute;
  top: -28%;
  right: 31%;
  background: #ddd;
  height: 40px;
  width: 4px;
  transform: rotate(45deg);
}
.smoke span:nth-child(2) {
  position: absolute;
  top: -28%;
  right: 30%;
  background: #ddd;
  height: 50px;
  width: 4px;
  transform: rotate(45deg);
}
.yurta-smoke span:nth-child(1) {
  position: absolute;
  left: 30%;
  top: 15%;
  background: #ddd;
  height: 50px;
  width: 4px;
  transform: rotate(45deg);
}
.yurta-smoke span:nth-child(2) {
  position: absolute;
  left: 31%;
  top: 17%;
  background: #ddd;
  height: 70px;
  width: 5px;
  transform: rotate(45deg);
}

/* about me section */
main {
  padding: 2rem 0;
  text-overflow: hidden;
  margin-bottom: 3rem;
}
.aboutTitle {
  text-align: center;
  font-family: lobster, sans-serif;
  font-size: 2rem;
  letter-spacing: 2%;
  font-weight: 400;
  color: #625b52;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}
.about-ballons {
  z-index: 3;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 2fr 0.8fr;
  margin-top: -3rem;
}
.cloud-middle {
  padding: 5rem 0 0 13rem;
  position: relative;
  margin-bottom: 2.5rem;
  animation: move1 5s infinite;
}
@keyframes move1 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-30px);
  }
}
.about-text2 {
  position: absolute;
  left: 50%;
  transform: translate(-55%, -300%);
  max-width: 15rem;
}
.cloud-left {
  margin-left: 7rem;
  position: relative;
  animation: move 5s infinite;
}
@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: rotate(10deg);
  }
}
.about-text1 {
  position: absolute;
  left: 20%;
  transform: translate(-50%, -520%);
  max-width: 15rem;
}
.cloud-right {
  margin-right: 7rem;
  position: relative;
  animation: move 3s infinite;
}
.about-text3 {
  position: absolute;
  right: 50%;
  transform: translate(238%, -338%);
  max-width: 15rem;
}
.about-bg {
  background-image: url(../images/about-me-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  max-width: 100%;
  min-height: 400px;
  z-index: 5;
  margin-top: -4rem;
}
.ballon-text p {
  font-family: var(--font-family);
  font-size: 1rem;
  color: #625b52;
}
strong {
  color: var(--accent-color);
}
.about-btns {
  display: flex;
  justify-content: space-around;
  margin-top: -8rem;
}
.about-btns button {
  padding: 0.5rem 1rem;
  border-radius: 1.2rem;
  font-family: var(--font-family);
  color: var(--light-color);
  background-color: #558861;
  cursor: pointer;
  box-shadow: 0 6px #999;
  border: none;
}
.about-btns button:hover {
  background-color: #3e8e41;
  border: 1px solid #999;
}
.about-btns button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#download-btn {
  background-color: #d28249;
}
#download-btn:hover {
  background-color: #ff8127;
  border: 1px solid #999;
}

/* skills section */

.skills {
  margin: auto;
  text-align: center;
  margin-top: 0;
  padding: 5rem 0;
  background: rgb(210, 130, 73);
  background: linear-gradient(
    90deg,
    rgba(210, 130, 73, 1) 50%,
    rgba(85, 136, 97, 1) 50%
  );
}
.subtitles {
  display: flex;
  justify-content: space-around;
  margin: 3rem 0 3rem 0;
  text-align: center;
  font-family: var(--font-family);
}
.subtitles h3 {
  font-family: var(--font-family);
  padding-right: 2rem;
  color: var(--bg-color);
  animation: glow 1.5s linear infinite;
}
.skills-wrapper {
  display: flex;
  justify-content: space-around;
}
.skill-title {
  margin-bottom: 2rem;
  text-align: center;
  font-family: lobster, sans-serif;
  font-size: 2rem;
  letter-spacing: 2%;
  font-weight: 400;
  color: #625b52;
}
.skill-wrapper img {
  padding: 1rem;
}
.icon {
  width: 8rem;
  height: 7.8rem;
}
.icon-card {
  background-color: var(--accent-color);
  border-radius: 11px;
  box-shadow: 0 3px 10px #b9b3b1;
  padding: 20px;
  margin: 10px;
}
.icon-card:hover {
  cursor: pointer;
  animation: shake alternate 1.5s;
}
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.softskills {
  margin-top: 1rem;
}

.softskills p {
  font-family: var(--font-family);
  font-size: 1.2rem;
  letter-spacing: 1%;
  padding-bottom: 0.5rem;
  font-weight: 900;
  color: var(--light-color);
  animation: glow 1.5s linear infinite;
}
.softskills p:hover {
  animation: pulse 1s infinite;
  animation-timing-function: linear;
  color: #558861;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes glow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
/* projects */
.projects {
  background-color: #8db75c;
  padding: 5.5rem 0;
}
.project-pic {
  width: 150px;
  height: 100px;
  margin-bottom: 0.3rem;
}
.projects-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.projects-title {
  text-align: center;
  margin: 2rem 0 2rem 0;
  font-family: lobster, sans-serif;
  font-size: 2rem;
  letter-spacing: 2%;
  font-weight: 400;
  color: #625b52;
  padding-bottom: 2rem;
}
.project-container {
  text-align: center;
  width: 18rem;
}
.project-container p {
  padding: 0.4rem;
  font-size: 0.8rem;
}
.project-title,
.project-details {
  margin-bottom: 0.5rem;
  color: var(--bg-color);
  font-family: var(--font-family);
}
.project-link {
  color: var(--light-color);
  font-family: var(--font-family);
}
.project-card {
  background-color: var(--accent-color);
  border-radius: 11px;
  box-shadow: 0 3px 10px #8b8eaf;
  padding: 20px;
  margin: 10px;
}
.project-card:hover {
  cursor: pointer;
  animation: shake alternate 1.5s;
}
/* contact */
.contact {
  padding: 5rem 0;
  font-family: var(--font-family);
  background: rgb(124, 163, 78);
  background: linear-gradient(
    90deg,
    rgba(124, 163, 78, 1) 5%,
    rgba(210, 130, 73, 0.7) 47%,
    rgba(124, 163, 78, 1) 86%
  );
}
.contact h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-family: lobster, sans-serif;
  font-size: 2rem;
  letter-spacing: 2%;
  font-weight: 400;
  color: #625b52;
}
.contact h2:hover {
  cursor: pointer;
  animation: shake alternate 1.5s;
}
.contact-form-container {
  max-width: 30rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  border-radius: 5px;
  box-shadow: 0 3px 10px #8b8eaf;
  background-color: #c4c4c4;
}

.contact-form-container label {
  line-height: 2rem;
  font-weight: 700;
  color: var(--accent-color);
}
.contact-form-container textarea {
  min-height: 1rem;
  font-size: 12px;
}
.contact-form-container .input-field {
  width: 100%;
  padding: 10px 0;
  border-radius: 5px;
  border: none;
  font-size: 0.875rem;
  outline: none;
  background-color: var(--accent-color);
}
.contact-form-container .input-field:hover {
  background-color: #3e8e41;
  border: 1px solid #fff;
}
.input-field::placeholder {
  padding: 0.5rem;
  color: rgba(224, 238, 226, 0.5);
}
.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #8b8eaf;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  transition: var(--transition);
  color: var(--light-color);
}

.submit-btn:hover {
  background-color: #558861;
  border: 1px solid rgb(77, 78, 77);
  cursor: pointer;
  color: var(--light-color);
}
/* footer */
footer {
  background-color: var(--primary-color);
  padding: 1.25rem;
  text-align: center;
  color: var(--light-color);
  font-family: var(--font-family);
}

/* scroll-up */
.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}
.up-arrow {
  width: 2rem;
  height: 2rem;
}
