* {
  box-sizing: border-box;
}
body {
  background-color: aqua;
}
#result {
  color: rgb(70, 172, 16);
  font-size: large;
}
p {
  color: rgb(70, 172, 16);
  margin-top: 1rem;
  border: 1px solid white;
  font-size: large;
  width: 85%;
  padding: 0.5rem;
  background-color: white;
  border-radius: 5px;
  font-weight: 700;
}
