* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100vw;
  height: 100vh;
  background-color:orange;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='55' height='55' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform=''%3E%3Crect width='100%25' height='100%25' fill='%235D4037'/%3E%3Cpath d='M0 40h-10v-60h60L40 0L33 6h-26v28z' fill='%233E2723'/%3E%3Cpath d='M40 0v10h60v60L0 40L7 34h26v-28z' fill='%23795548'/%3E%3Cpath d='M40 0v10h60v60L0 40L0 40h40v-40z' fill='%233E2723'/%3E%3Cpath d='M0 40h-10v-60h60L40 0L40 0h-40v40z' fill='%23795548'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
background-color: chocolate;
  font-size: 14px;
}

.container{
max-width: 1200px;

}
.game {
  height: 94vh;
  display: flex;
  justify-content: center;
  background-color:#50A3A4;
  border:10px solid white;
}
.main {
  width: 20em;
  height: 40em;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(20, 1fr);
}
.cell {
  width:2em;
  height:2em;
  border: 1px solid  silver;
  display: inline-block;
}
.movingCell {
  background-color: yellow;
}
.fixedCell {
  background-color: green;
}
.projectionCell{
  background-color: rgba(238, 232, 232, 0.2);
}

/* left side of tetris */
.topDisplay{
  padding: 1rem;
  }
  #next-tetro{
    width: 140px;
    height: 140px;
    text-align: center;
    border: 4px solid #fff;
    background-color: #0f2620;
    margin: 0 auto;
    /* padding: 1em; */
    }
  /* .levelScorePanel{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    font-weight: 800;
    color:white;
    } */
    .score-level{
      font-size: 1.7em;
      display: flex;
      gap: 1em;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
.btn {
  width: 100%;
  text-align: center;
  margin: 1rem 0;
}
.btn button {
  width: 100px;
  padding: 10px 4px;
  border: none;
  border-radius: 10px;
  color: white;
}
#start {
  background: green;
}
#pause {
  background: red;
}
.levelScorePanel #level,.levelScorePanel #score{
  color: black;
font-weight: 800;
}
.levelScorePanel #level:hover,.levelScorePanel #score:hover{
  color:  red;
}

#game-over{
  font-size:2.5em;
  font-weight: 600;
  color: red;
  text-align: center;
  position: absolute;
  display: none;
  top:40%;
  left:40%;
  transform:translate(-50%,-50%);
}

@media screen and (max-width: 574px) {
 main{
background-color: red;
 }

}