/*------------ general style ----------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
/*------------- elements style-------------- */

body {
  font-size: 13.5px;
  width: 100vw;
  background-color:orange;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='55' height='55' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform=''%3E%3Crect width='100%25' height='100%25' fill='%235D4037'/%3E%3Cpath d='M0 40h-10v-60h60L40 0L33 6h-26v28z' fill='%233E2723'/%3E%3Cpath d='M40 0v10h60v60L0 40L7 34h26v-28z' fill='%23795548'/%3E%3Cpath d='M40 0v10h60v60L0 40L0 40h40v-40z' fill='%233E2723'/%3E%3Cpath d='M0 40h-10v-60h60L40 0L40 0h-40v40z' fill='%23795548'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
  background-color: chocolate;
}

/*-------------- style for classes and id----------- */
.container{
max-width: 1200px;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}
.game {
  height:45.5em;
  display: flex;
  justify-content: center;
  background-color:#50A3A4;
  border:10px solid white;
  gap: 1em;
}
/* game area */
.main {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(20, 1fr);
}
.cell {
  width:2.2em;
  height:2.2em;
  border: 1px solid  silver;
  display: inline-block;
}
.movingCell {
  background-color: yellow;
}
.fixedCell {
  background-color: green;
}
.projectionCell{
  background-color: rgba(238, 232, 232, 0.2);
}
/* left side of tetris */
.topDisplay{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:1em 3em;
  gap: 2em;
  }
  .next-tetro-box{
  width: 100%;
  height: 12em;
  text-align: center;
  border: 0.25em solid #fff;
  background-color: #0f2620;
  margin: 0 auto;
  padding: 1em;
  }
  .btn {
  display: flex;
  justify-content: center;
  gap: 1em;
  }
  .button {
  width: 6.25em;
  padding: 0.625em 0.25em;
  border: none;
  border-radius: 0.625em;
  color: white;
  font-size: 1em;
    }
    .btn button:hover{
    background-color: #50A3A4;
    }
    #start {
      background: green;
    }
    #pause {
      background: red;
    }
    .score-level{
      background-color: #0f2620;
      font-size: 1.5em;
      display: flex;
      gap: 0.7em;
      justify-content: center;
      align-items: center;
      border: 2px solid #fff;
    }
    .score-level p{
    padding: 0.5em;
    }
    .score-level p:hover{
      color: orange;
    }
    .score-level span{
      color: orange;
    }
    .score-level span:hover{
     color: #50A3A4;
    }
/*----------- mobile and tablet version------------- */
.arrows{
  width:100%;
  text-align: center;
  margin-top: 2em;
  display: none;
}
#left-right{
  display: flex;
  justify-content: center;
  gap: 4.7em;
}
i{
  color: #50A3A4;
  border: 1px solid #fff;
  padding: 2.2em;
  background-color: beige;
  border-radius: 5px;
}
 /* tablet size */
 @media screen and (max-width:768px){
  body{
    font-size: 11px;
    }
  .arrows{
    display: block;
  }
 }
 @media screen and (max-width:620px){
  body{
  font-size: 12px;
  }
 }
 @media screen and (max-width:580px){
  body{
  font-size: 11px;
  }
  .game{
    height: 46.5em;
   }
 }
 @media screen and (max-width:521px){
  body{
  font-size: 10px;
  }
  .game{
    height: 46.5em;
   }
 }
 /* mobile large */
 @media screen and (max-width: 425px) {
 body{
font-size: 8.5px;
 }
 .game{
  height: 46.5em;
 }
}
@media screen and (max-width: 385px) {
  body{
 font-size: 8px;
  }
.game{
  height: 46.5em;
}
}
/* moble m size */
@media screen and (max-width: 375px) {
  body{
 font-size: 7.5px;
  }
.game{
  height: 46.6em;
}}
@media screen and (max-width: 350px) {
  body{
 font-size: 7.2px;
  }
.game{
  height: 46.5em;
}
}
@media screen and (max-width: 320px) {
  body{
 font-size: 7px;
  }
.game{
  height: 46.5em;
}

}